.bottomActive{
    color: #2d9dff;
}
.mainbody{

    margin: 0 auto;
    background-color: #fff;
    font-size: 1.7rem;
}
.top{

    margin: 2rem auto 0;
    background-color: #2d9dff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
}
.top div:nth-child(2){
    font-size: 2.2rem;
    color: #ffffff;
}
body{
    background-color: rgb(242,242,242);
}
.middle>div:first-child{
    padding-top: 1rem;
    display: flex;
    padding-right: 1rem;
    padding-left: 1rem;

    justify-content: space-between;
}
.middle>div:nth-child(2){
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content: space-around;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.middleWord{
    width: 45%;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.middle>div:last-child{
    column-count: 2;
    height: 4rem;
    line-height: 4rem;
    column-gap: 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;

}

.line{
    height: 4rem;
    line-height: 4rem;
    display: flex;
    padding-left: 5rem;
    padding-right: 2rem;
    justify-content: space-between;
    border-bottom: 1px solid #bcbcbc;
}
.line>div:first-child{
    display: flex;
}
.line>div:first-child>div:first-child{
    width: 2rem;
}

.blue{
    background-color: #2d9dff;
}
.gray{
    background-color: #bcbcbc;
}
.iconBus{
    position: absolute;
    top: 18.7rem;
    left: 3.2rem;
}




.alertBox>div:first-child{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid #bcbcbc;
}
.alertBox>div:last-child{
    column-count:2;
    column-rule: 1px outset #bcbcbc;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.7rem;

}
.alertBox{
    width: 60%;
    position: absolute;
    left:50%;
    top: 40%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%); 	/* IE 9 */
    -moz-transform:translate(-50%,-50%); 	/* Firefox */
    -webkit-transform:translate(-50%,-50%); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%); 	/* Opera */
    background-color: #fff;
    height: 9rem;
    z-index: 2;
    border-radius: 0.5rem;
    display: none;
}


.promt{
    width: 60%;
    position: absolute;
    left:50%;
    top: 40%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%); 	/* IE 9 */
    -moz-transform:translate(-50%,-50%); 	/* Firefox */
    -webkit-transform:translate(-50%,-50%); /* Safari 和 Chrome */
    -o-transform:translate(-50%,-50%); 	/* Opera */
    background-color: #fff;
    height: 11rem;
    z-index: 2;
    border-radius: 0.5rem;
    display: none;

}
.promt div:first-child{
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.9rem;
}
.promt div:nth-child(2){
    height: 4.5rem;
    width: 90%;
    margin: 0 auto;
}
.promt div:last-child{
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    font-size: 2rem;
    border-top: 1px solid #bcbcbc;
}


.footer{
    column-count: 3;
    column-gap: 0;
    background-color: #fff;
    text-align: center;

    font-size: 1.4rem;

    border-top: 2px solid lightgray;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-item{
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-item>img{
    width: 2.5rem;
    height: 2.5rem;
}

