.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    align-items: center;
    font-size: 15px;


}
.border{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #2d9dff;
    border-radius: 5px;

}
.one-option{
    height: 25px;
    line-height: 25px;
    padding: 0 20px;
    color: #2d9dff;
}
.one-option-active{
    background-color: #2d9dff;
    color: white;
}
.top-bar{
    column-count: 2;
    column-gap: 0;
    column-rule:1px outset lightgray;
    text-align: center;

    font-size: 1.4rem;

    border-bottom: 1px solid lightgray;
    margin: 0;
}
.top-bar>div{
    /* height: 3.8rem; */
    height: 4rem;
    line-height: 4rem;
}
.top-active{
    /* box-sizing: border-box; */
    border-bottom: 2px solid #2d9dff;
    color: #2d9dff;
}